<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BLOG</title>
	<link rel="stylesheet" th:href="@{/css/front.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<div id="header" style="background-color: rgba(128, 128, 128, 0.503);text-align: end;">
			<a href="/front"><i class="fa-solid fa-circle-user"></i></a>
			<button><i class="fa-solid fa-user"></i><a href="/profile">登録</a></button>
			<button type="button"><i class="fa-solid fa-right-to-bracket"></i><a th:href="@{/login}">ログイン</a></button>
			<button type="button"><i class="fa-solid fa-right-from-bracket"></i><a
					th:href="@{/logout}">ログアウト</a></button>
			<button type="button"><i class="fa-solid fa-pen"></i><a href="/blog/register">投稿</a></button>
			<button type="button" onclick="alert('Hello word!')">TEST</button>
		</div>

		<h1 id="" style="text-align: center;">張のブログ</h1>

		<div style="text-align: center;">
			<img th:src="@{/image/Z.png}" alt="私">
		</div>

		<div id="menu" style="text-align: center;">
			<button style="background-color: rgba(201, 236, 255, 0.372); width: 100px; height: 45px;" type="button"
				onclick="location.href='/front'"><i class="fa-solid fa-house"></i>ホーム</button>
			<button style="background-color: rgba(201, 236, 255, 0.372); width: 100px; height: 45px;" type="button"
				onclick="location.href='/list'">記事一覧</button>
		</div>
	</header>

	<main style="text-align: center;">
		<hr>
		<div style="clear: both;text-align: center;">
			<h2>ブログ登録</h2>
			</div>
			<form th:action="@{/blog/register/process}" method="post" enctype="multipart/form-data">
				<div>
					<input style="width: 600px;" type="text" placeholder="記事タイトル" name="blogTitle">
				</div>
				<input style="width: 600px;"type="file" name="blogImage">
				<div>
					<textarea placeholder="書いてみませんか？" style="height: 300px;width: 600px;" name="article"></textarea>
				</div>

				<div>
					<button class="">登録</button>
					<button class="" onclick="history.back();" type="button">戻る</button>
				</div>
			</form>
		</div>
	</main>

	<footer>
		<div id="end" style="height: 80px;clear: both;text-align: center;">
			<a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
			<a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
			<a href="https://line.me/en/" target="_blank"><i class="fa-brands fa-line"></i></a>
			<a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
			<a href="" target="_blank"><i class="fa-solid fa-cart-shopping"></i></a>

			<h2>ご覧いただきありがとうございました</h2>
		</div>
		<div id="footer" style="clear:both;text-align:center;">
			版权 © yirui.com</div>
	</footer>
</body>

</html>