<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mr.Zのブログ</title>
	<link rel="stylesheet" th:href="@{/css/front.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<div id="header" style="background-color: rgba(128, 128, 128, 0.503);text-align: end;">
			<a href="/front"><i class="fa-solid fa-circle-user"></i></a>
			<button><i class="fa-solid fa-user"></i><a href="/register">登録</a></button>
			<button type="button"><i class="fa-solid fa-right-to-bracket"></i><a th:href="@{/login}">ログイン</a></button>
			<button type="button"><i class="fa-solid fa-right-from-bracket"></i><a
					th:href="@{/logout}">ログアウト</a></button>
			<button type="button"><i class="fa-solid fa-pen"></i><a th:href="@{/blog/register}">投稿</a></button>
			<button type="button" onclick="alert('Hello word!')">TEST</button>
		</div>

		<h1 id="" style="text-align: center;">張のブログ</h1>

		<div style="text-align: center;">
			<a th:href="@{/profile}"><img th:src="@{/image/Z.png}" alt="私"></a>
		</div>
	</header>

	<main>
		<form action="" method="post">
			<div id="menu" style="text-align: center;">
				<button style="background-color: rgba(201, 236, 255, 0.372); width: 100px; height: 45px;" type="button"
					onclick="location.href='/front'"><i class="fa-solid fa-house"></i>ホーム</button>
				<button style="background-color: rgba(201, 236, 255, 0.372); width: 100px; height: 45px;" type="button"
					onclick="location.href='/list'">記事一覧</button>
				<!--<input type="text" id="select" name="select" placeholder="キーワードを入力してください">-->
				<!--<input type="submit" id="selectButton" value="検索">-->
			</div>
		</form>


		<hr>
		<h1 style="text-align: center;"> N E W S </h1>
		<hr>

		<div id="content">
			<div th:each="blog:${blogList}">
				<a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
					<img th:src="@{/blog-img/{items}(items=${blog.blogImage})}" alt="" width="300" height="200">
					<h2 th:text="${blog.blogTitle}"></h2>
				</a>
			</div>
		</div>
	</main>

	<footer>
		<hr>
		<div id="end" style="height: 80px;clear: both;text-align: center;">
			<a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
			<a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
			<a href="https://line.me/en/" target="_blank"><i class="fa-brands fa-line"></i></a>
			<a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
			<a href="" target="_blank"><i class="fa-solid fa-cart-shopping"></i></a>

			<h2>ご覧いただきありがとうございました</h2>
		</div>
		<div id="footer" style="clear:both;text-align:center;">
			© &COPY;;yirui.com</div>
	</footer>
</body>

</html>